<footer class="container-fluid">
  <div class="row">
    <div class="col-md-7 offset-md-3 d-flex">
      <div class="block">{{> recent-post}}</div>
      <div class="block">{{> tag-cloud}}</div>
      <div class="block">{{> about}}</div>
    </div>
  </div>
</footer>
{{> copyright}}