<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>测试博客主题<span class="all-rights-reserved">&copy; 2018-2020 • All rights reserved.</span></p>
      </div>
    </div>
  </div>
</div>