<div class="post-author">
  <div class="author-avatar">
    <img src="{{img_url primary_author.profile_image}}" alt="">
  </div>
  <div class="author-content">
    <div class="author-name">{{primary_author.name}}</div>
    <div class="post-attr">
      <time>{{date format="YYYY年MM月DD日"}}</time>
      <span class="dotted">•</span>
      <span>{{reading_time}}</span>
    </div>
  </div>
</div>